* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 720px;
  height: 100%;
  background-color: #e0e0e0; /* Body의 고정 색상 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  box-sizing: border-box;
  padding: 5px;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, minmax(100px, auto));
}

/* .item:last-child {
  grid-column-start: 3;
  grid-column-end: 5;
} */

@media screen and (max-width: 720px) {
  body {
    width: 100%;
  }
}
